@{
    ViewBag.Title = "Bảng giá dịch vụ";
}
<h1>Bảng giá dịch vụ</h1>
<h3 id="photocopy">Photocopy</h3>
<table class="table">
    <thead>
        <tr><th>Dịch vụ</th><th>Đơn vị</th><th>Khổ giấy</th><th>Đơn giá (VNĐ)</th></tr>
    </thead>
    <tbody>
        <tr><td>Photo A4 giấy Ngoại (Double A)</td><td>1 tờ 1 mặt</td><td>A4</td><td>250</td></tr>
        <tr><td>Photo A4 giấy Ngoại (Double A)</td><td>1 tờ 2 mặt</td><td>A4</td><td>300</td></tr>
        <tr><td>Photo A4 giấy trắng</td><td>1 tờ 1 mặt</td><td>A4</td><td>180</td></tr>
        <tr><td>Photo A4 giấy trắng</td><td>1 tờ 2 mặt</td><td>A4</td><td>250</td></tr>
        <tr><td>Photo A3 giấy Ngoại (Double A)</td><td>1 tờ 1 mặt</td><td>A3</td><td>500</td></tr>
        <tr><td>Photo A3 giấy Ngoại (Double A)</td><td>1 tờ 2 mặt</td><td>A2</td><td>600</td></tr>
        <tr><td>Photo A2 (Định lượng 100)</td><td>1 tờ 1 mặt</td><td>A1</td><td>2000</td></tr>
        <tr><td>Photo A1 (Định lượng 100)</td><td>1 tờ 1 mặt</td><td>A1</td><td>3500</td></tr>
        <tr><td>Photo A0 (Định lượng 100)</td><td>1 tờ 1 mặt</td><td>A0</td><td>6000</td></tr>
    </tbody>
</table>

<h3 id="indentrang">In đen trắng</h3>
<table class="table">
    <thead>
        <tr><th>Dịch vụ</th><th>Đơn vị</th><th>Khổ giấy</th><th>Đơn giá (VNĐ)</th></tr>
    </thead>
    <tbody>
        <tr><td>In A4 giấy Ngoại (Double A)</td><td>1 tờ 1 mặt</td><td>A4</td><td>300</td></tr>
        <tr><td>In A4 giấy Ngoại (Double A)</td><td>1 tờ 2 mặt</td><td>A4</td><td>400</td></tr>
        <tr><td>In A3 giấy Ngoại (Double A)</td><td>1 tờ 1 mặt</td><td>A3</td><td>680</td></tr>
        <tr><td>In A2 giấy Ngoại Định lượng 100</td><td>1 tờ</td><td>A2</td><td>3000</td></tr>
        <tr><td>In A1 giấy Ngoại Định lượng 100</td><td>1 tờ</td><td>A1</td><td>4500</td></tr>
        <tr><td>In A0 giấy Ngoại Định lượng 100</td><td>1 tờ</td><td>A0</td><td>8000</td></tr>
    </tbody>
</table>
<h3 id="inmau">In màu</h3>
<table class="table">
    <thead>
        <tr><th>Dịch vụ</th><th>Đơn vị</th><th>Khổ giấy</th><th>Đơn giá (VNĐ)</th></tr>
    </thead>
    <tbody>
        <tr><td>In màu A4 giấy Ngoại (Double A Định lượng 80)</td><td>1 tờ 1 mặt</td><td>A4</td><td>1000</td></tr>
        <tr><td>In màu A4 giấy Ngoại (Double A Định lượng 80)</td><td>1 tờ 2 mặt</td><td>A4</td><td>1500</td></tr>
        <tr><td>In màu A3 giấy Ngoại (Double A Định lượng 80)</td><td>1 tờ 1 mặt</td><td>A3</td><td>3000</td></tr>
        <tr><td>In màu A3 giấy Ngoại (Double A Định lượng 80)</td><td>1 tờ 2 mặt</td><td>A3</td><td>4000</td></tr>
        <tr><td>In màu A2 giấy Ngoại Định lượng 100</td><td>1 tờ 1 mặt</td><td>A2</td><td>7000</td></tr>
        <tr><td>In màu A1 giấy Ngoại Định lượng 100</td><td>1 tờ 1 mặt</td><td>A1</td><td>10000</td></tr>
        <tr><td>In màu A0 giấy Ngoại Định lượng 100</td><td>1 tờ 1 mặt</td><td>A0</td><td>20000</td></tr>
    </tbody>
</table>