@{
    ViewBag.Title = "Bảng giá dịch vụ";
}
<h1>Bảng giá dịch vụ</h1>
<h2 id="photocopy">Photocopy</h2>
<table class="table">
    <thead>
        <tr><th>Dịch vụ</th><th>Đơn vị</th><th>Khổ giấy</th><th>Đơn giá (VNĐ)</th></tr>
    </thead>
    <tbody>
        <tr><td>Photo A4 giấy Ngoại (Double A) </td><td>1 tờ 1 mặt</td><td>A4</td><td>250</td></tr>
        <tr><td>Photo A4 giấy Ngoại (Double A) </td><td>1 tờ 2 mặt</td><td>A4</td><td>300</td></tr>
        <tr><td>Photo A4 giấy trắng</td><td>1 tờ 1 mặt</td><td>A4</td><td>180</td></tr>
        <tr><td>Photo A4 giấy Ngoại</td><td>1 tờ 2 mặt</td><td>A4</td><td>250</td></tr>
    </tbody>
</table>