@{
    ViewBag.Title = "In tài liệu văn phòng";
}
<div>
    <h1 class="page-title">In tài liệu văn phòng</h1>
    <div class="banner" style="background-image: url(/Content/images/sanpham-dongquyen.gif)"></div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Bảng giá dịch vụ", "BangGia")
        </div>
    </div>
</div>