@{
    ViewBag.Title = "In tiêu đề thư";
}
<div>
    <h1 class="page-title">In tiêu đề thư</h1>
    <div class="banner" style="background-image: url(/Content/images/sanpham-tieudethu.gif)"></div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Bảng giá dịch vụ", "BangGia")
        </div>
    </div>
</div>