@{
    ViewBag.Title = "Photocopy";
}
<div>
    <h1 class="page-title">Photocopy</h1>
    <div class="banner" style="background-image: url(/Content/images/sanpham-photocopy.gif)"></div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Bảng giá dịch vụ", "BangGia")
        </div>
    </div>
</div>