@{
    ViewBag.Title = "Scan màu cỡ lớn";
}
<div>
    <h1 class="page-title">Scan màu cỡ lớn</h1>
    <div class="banner" style="background-image: url(/Content/images/sanpham-scanmau.gif)"></div>
    <div class="row">
        <div class="col-sm-12">
            @Html.ActionLink("Bảng giá dịch vụ", "BangGia")
        </div>
    </div>
</div>